*.DS_Store
iwown_blesdk_ios_swift/.DS_Store
iwown_blesdk_ios_swift/Pods/Pods.xcodeproj/xcuserdata/leopard.xcuserdatad/
iwown_blesdk_ios_swift/iwown_blesdk_ios_swift.xcworkspace/xcuserdata/leopard.xcuserdatad/UserInterfaceState.xcuserstate
zeroner_blesdk_iOS.zip
