lwownBLELib3.xcworkspace/
libIwownBLE.xcodeproj/project.xcworkspace/xcuserdata/*
libIwownBLE.xcodeproj/project.xcworkspace/xcshareddata/libIwownBLE.xcscmblueprint
*/.DS_Store
*.DS_Store
BLEMidAutumn.xcodeproj/project.xcworkspace/xcuserdata/scow.xcuserdatad/
BLEMidAutumn.xcodeproj/xcuserdata/scow.xcuserdatad/
SourceCode/

BLEMidAutumn.xcodeproj/project.xcworkspace/xcuserdata/leopard.xcuserdatad/UserInterfaceState.xcuserstate
BLEMidAutumn.xcodeproj/xcuserdata/leopard.xcuserdatad/xcdebugger/
Pods/
AutumnTest/AutumnTest.xcodeproj/xcuserdata/scow.xcuserdatad/
BLEMidAutumn.xcworkspace/xcuserdata/scow.xcuserdatad/
Pods/*
*leopard.xcuserdatad/UserInterfaceState.xcuserstate
BLEMidAutumn.xcworkspace/xcuserdata/*
BLEMidAutumn.xcodeproj/xcuserdata/
AutumnTest/AutumnTest.xcodeproj/xcuserdata/
BLEMidAutumn.xcworkspace/xcuserdata/leopard.xcuserdatad/UserInterfaceState.xcuserstate
Products*
AppleDocs/*
